{% extends "base.html" %}

<!-- Page Title -->

{% block title %}Password Reset Sent{% endblock %}

<!-- Page Content -->

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Password Reset Email Sent</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          We've emailed you instructions for setting your password. You should
          receive them shortly.
        </p>
        <p class="card-text">
          If you don't receive an email, please make sure you've entered the
          address you registered with, and check your spam folder.
        </p>
        <p class="card-text">
          <a
            href="https://mail.google.com/mail/u/0/#inbox"
            class="btn border-4 btn-primary"
            >Proceed to inbox</a
          >
          or
          <a href="https://mail.google.com/mail/u/0/#spam">
            <button class="btn border-4 btn-outline-danger">
              Check spam folder
            </button>
          </a>

          <a href="http://localhost:9000">Home</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
