{% extends "base.html" %}

<!-- Page Title -->

{% block title %}Password Reset Complete{% endblock %}

<!-- Page Content -->

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Password Reset Complete</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          Your password has been set. You may go ahead and log in now.
        </p>
        <div class="text-center">
          <a href="{% url 'users:login' %}" class="btn btn-primary">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
